:root {
  --cor-0 : #000;
  --cor-1: #373737;
  --cor-2: #fff;
  --cor-3: #aeaeae;

  /*cores personalizadas*/
  --cor-p1: #b98b59;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-p1 {
  color: var(--cor-p1);
}