.banner-bg {
  background: url(../../img/complementos/bg.jpg) no-repeat center;
  position: relative;
}

.banner-bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.banner {
  height: 750px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 1;
}

.banner-titulo {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  line-height: 0.9;
  
}

.banner h1 span {
  font-size: inherit;
  color: var(--cor-p1);
}

.banner span {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: bold;
  margin: 20px 0 30px;
}

.banner a:hover:first-child {
  transition: color 0.4s;
  color: var(--cor-3);
}

.btg {
  justify-self: center;
  text-transform: uppercase;
  color: var(--cor-2);
  font-weight: bold;
  background: var(--cor-p1);
  font-size: 0.7rem;
  border-radius: 20px;
  padding: 12px 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.2px;
  transition: background-color 0.6s;
  display: block;
}

.btg:hover {
  background: var(--cor-1);
}

@media (max-width: 800px) {
  .banner-titulo {
    font-size: 2rem;
  }

  .banner span {
    font-size: 1rem;
  }
}
