.projects {
  display: grid;
  padding: 40px 20px;
}

.projects-conteudo {
  display: grid;
}

.projects-conteudo nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.projects-conteudo nav ul li a {
  color: #000;
  background-color: #ededed;
  padding: 10px 15px;
  border: 1px solid #cfcfcf;
  font-family: "Poppins";
  letter-spacing: 1.5px;
  display: inline-block;
  transition: background 0.6s;
  font-size: 0.8rem;
}

.projects-conteudo nav ul li a:hover {
  background-color: var(--cor-3);
  color: var(--cor-2);
}

.projects-img {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 22px;
  margin-bottom: 30px;
}

.projects-img img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.test {
  background: url(../../img/complementos/foto2.jpg) center;
  min-height: 145.95px;
  min-width: 233.49px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}

.test:first-child {
  background: url(../../img/complementos/foto1.jpg) ;
}

.test h4 {
  font-size: 1.2rem;
  opacity: 2;
}

.test p {
  font-size: 0.8rem;
  color: #cfcfcf;
}

.test- {
  display: none;
}

.test:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.2);
}

.test:hover .test- {
  display: block;
  z-index: 5;
}

.projects-conteudo .btg {
  max-width: max-content;
  justify-self: center;
}

@media (max-width: 800px) {
  .projects-conteudo nav ul{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  } 

  .projects-img {
    grid-template-columns: 1fr;
  }

  .test {
    max-width: 360.07px;
    min-height: 225.05px;
  }

  .projects-img div:nth-child(odd) {
    display: none;
  }

  .test {
    display: none;
  }
}